.App {
  background: rgba(255, 255, 255, 0.979);
  text-align: center;
  background-image: url(Images/many-clocks.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
  color: rgba(80, 52, 50, 0.938);
  font-weight: bolder;
}

.container {
  padding-top: 4em;
  padding-bottom: 6em;
  background-color: rgba(231, 228, 228, 0.925);
}

.container-new {
  background-position: center;
  background-position: center;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 25em;
  padding-right: 26em;
  /* position: relative; */
  /* background: #f5f5f5b7; */
}

Header {
  background: #f5f5f5b7;
}

Taskcount {
  padding-bottom: 2em;
}

.card {
  background-color: rgba(231, 230, 230, 0.925);
}

.btn-outline-success {
  background-color: #aedaaed2;
  color: #fff;
  border-color: rgba(80, 52, 50, 0.932);
}

.btn-danger {
  background-color: rgba(255, 0, 0, 0.212);
}
.btn-primary {
  background-color: rgba(80, 52, 50, 0.616);
  border-color: white;
}
