.App {
  background-color: rgb(102, 51, 0, 0.2);
  text-align: center;
  /* background-image: url(Images/many-clocks.jpg); */
  background-blend-mode: color;
  background-size: cover;
}

.container {
  padding-top: 4em;
  padding-bottom: 6em;
}

.addingTask {
  padding-top: 4 em;
  padding-bottom: 2em;
  padding-left: 24em;
  padding-right: 26em;
}
