.App {
  background: #fffcfcea;
  text-align: center;
  background-image: url(Images/many-clocks.jpg);
  background-blend-mode: luminosity;
  background-size: cover;
}

.container {
  padding-top: 4em;
  padding-bottom: 6em;
  background-color: #f5f5f5de;
}

.addingTask {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 25em;
  padding-right: 26em;
  /* position: relative; */
  background: #f5f5f5b7;
  /* overflow: hidden; */
}

Header {
  background: #f5f5f5b7;
}

Taskcount {
  padding-bottom: 2em;
}
